<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.profil.smpnegeri2talang">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPNEGERI2TALANG">
        <activity
            android:name="com.profil.smpnegeri2talang.AdiwiyataActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.MenuActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.visimisActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.albumpramukaActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.albumhutriActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.guruActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.osisActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.PramukaActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.silatActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.PmrActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.Buku7Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.Buku8Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.Buku9Activity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.FasilitasActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.GaleriActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.PerpusActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.ProfilActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.ekskullActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.VollyActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.BerbagiActivity"
            android:exported="false" />
        <activity
            android:name="com.profil.smpnegeri2talang.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>